html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        #content {
            display: flex;
            flex: 1;
            margin-top: 0; /* Remove qualquer espaçamento superior */
        }

        main {
            flex: 1;
            display: flex;
            height: 100%;
        }

        aside {
            height: 100%;
        }

        /* Classes para o sidebar */
        .hidden-sidebar {
            transform: translateX(100%);
        }

        .show-sidebar {
            transform: translateX(0);
        }

        #sidebar-multi-level-sidebar {
            transition: transform 0.3s ease-in-out;
            right: 0;
        }

        /* Definir cor do header igual ao sidebar */
        header {
            background-color: #f9fafb; /* Cor do sidebar (#f9fafb é bg-gray-50) */
            margin-bottom: 0; /* Remove a margem inferior */
            padding: 8px 16px; /* Diminui o padding superior/inferior */
        }